In [1]:
#working with list and loops

a=[1,2,3,4]
b=[1,2,3,4]

total=0
for idx,val in enumerate(a):
    total += a[idx]* b[idx]
    print(total,a[idx],b[idx])

1 1 1
5 2 2
14 3 3
30 4 4

In [13]:
# working with list and compare values

a = [4,10,2,21,80,52]

while True:
    inp = input('Enter Value:')
    if inp == 'Done':
        break
        
    try:
        if (int(inp) >= max(a)):
             print('Yes, Value is Greater than the list values')
        else:
             print('No, Value is lesser than the list values')
                
    except ValueError:
        print("Enter an Integer value")

Enter Value:20
No, Value is lesser than the list values
Enter Value:100
Yes, Value is Greater than the list values
Enter Value:Done

In [14]:
print('\nExercise 2:Results')

Samples = ['at','book', 'catch', 'dog', 'elephant', 'famous', 'girl', 'he', 'india', 'joey']

for elem in Samples:
    if 2 < len(elem) < 5:
        print('Label[', Samples.index(elem), '] is', elem)

Exercise 2:Results
Label[ 1 ] is book
Label[ 3 ] is dog
Label[ 6 ] is girl
Label[ 9 ] is joey

In [19]:
#working with list and loops

a=[1,2,3,4]

print(a[1],a[3],a[0]+a[2],'\n')

for x in a:
    print ('increment by 1:',x+1)
    print ('multiply by 1:',x*x)
    print('\n')

2 4 4

increment by 1: 2
multiply by 1: 1


increment by 1: 3
multiply by 1: 4


increment by 1: 4
multiply by 1: 9


increment by 1: 5
multiply by 1: 16

In [2]:
#working with list

print('\n Display selected list items')
Samples = ['at','book', 'catch', 'dog', 'elephant', 'famous', 'girl', 'he', 'india', 'joey']

print(Samples[:]) # all items
print(Samples[1:]) # all items from 2nd element
print(Samples[:2]) # first 2 items
print(Samples[0]) # first first element items
print(Samples[2:6]) # first first element items

 Display selected list items
['at', 'book', 'catch', 'dog', 'elephant', 'famous', 'girl', 'he', 'india', 'joey']
['book', 'catch', 'dog', 'elephant', 'famous', 'girl', 'he', 'india', 'joey']
['at', 'book']
at
['catch', 'dog', 'elephant', 'famous']

In [17]:
#working with data types

x=['true',20,3.5,True,-2,'']

print(x,'\n')

for i in x:
    print('Value',i,'is of type', type(i))

['true', 20, 3.5, True, -2, '']

Value true is of type <class 'str'>
Value 20 is of type <class 'int'>
Value 3.5 is of type <class 'float'>
Value True is of type <class 'bool'>
Value -2 is of type <class 'int'>
Value  is of type <class 'str'>

In [21]:
#working with logical operators
while True:
    inp = input('Enter a score:')
    if inp == 'Done':
        break
    try:
        s = float(inp)
        if (s >= 0) and (s <= 1):
            if s >= 0.9:
                print("Grade: A")
            if(s >= 0.8) and (s < 0.9):
                print("Grade: B")
            if (s >= 0.7) and (s < 0.8):
                print("Grade: C")
            if (s >= 0.6) and (s < 0.7):
                print("Grade: D")
            if s < 0.6:
                print("Grade: F")
        else:
            print("Bad Score")

    except ValueError:
        print("Bad Score")

Enter a score:2
Bad Score
Enter a score:4
Bad Score
Enter a score:.1
Grade: F
Enter a score:.9
Grade: A
Enter a score:DOne
Bad Score
Enter a score:Done

In [31]:
#working with list | Sorting


samples = ['elephant', 'catch', 'famous','he','at','india', 'girl', 'dog', 'joey','book']
samples_sorted=sorted(samples)

print('\n Actual list',samples)

print('\n Sorted list',samples_sorted)

 Actual list ['elephant', 'catch', 'famous', 'he', 'at', 'india', 'girl', 'dog', 'joey', 'book']

 Sorted list ['at', 'book', 'catch', 'dog', 'elephant', 'famous', 'girl', 'he', 'india', 'joey']

In [39]:
# Working with file, list and sorting
try: 
    NBAfile = open ('/Users/sathishrajendiran/ist652-python/NBA-Attendance-1989.txt', 'r')
    
except:
    print("Is the file in correct directory?")

# Create a dummy list
NBAlist = []

for line in NBAfile:
    textline = line.strip()
    # split the line on whitespace
    lines = textline.split()
    # add the list of items to the NBAlist
    NBAlist.append(lines)

print('\nSorted list by city')

for line in NBAlist:
    print('  The attendance at',line[0], 'was',line[1],'and the ticket price was $'+line[2])

print('\nSorted list by seating')
New_NBAlist = sorted(NBAlist,key=lambda item:item[1],reverse=True)

for line in New_NBAlist:
    print('  The attendance at',line[0], 'was',line[1],'and the ticket price was $'+line[2])

Sorted list by city
  The attendance at Atlanta was 13993 and the ticket price was $20.06
  The attendance at Boston was 14916 and the ticket price was $22.54
  The attendance at Charlotte was 23901 and the ticket price was $17
  The attendance at Chicago was 18404 and the ticket price was $21.98
  The attendance at Cleveland was 16969 and the ticket price was $19.63
  The attendance at Dallas was 16868 and the ticket price was $17.05
  The attendance at Denver was 12668 and the ticket price was $17.4
  The attendance at Detroit was 21454 and the ticket price was $24.42
  The attendance at Golden_State was 15025 and the ticket price was $17.04
  The attendance at Houston was 15846 and the ticket price was $17.56
  The attendance at Indiana was 12885 and the ticket price was $13.77
  The attendance at LA_Clippers was 11869 and the ticket price was $21.95
  The attendance at LA_Lakers was 17378 and the ticket price was $29.18
  The attendance at Miami was 15008 and the ticket price was $17.6
  The attendance at Milwaukee was 16088 and the ticket price was $14.08
  The attendance at Minnesota was 26160 and the ticket price was $10.92
  The attendance at New_Jersey was 12160 and the ticket price was $13.31
  The attendance at New_York was 17815 and the ticket price was $22.7
  The attendance at Orlando was 15606 and the ticket price was $20.47
  The attendance at Philadelphia was 14017 and the ticket price was $19.04
  The attendance at Phoenix was 14114 and the ticket price was $16.59
  The attendance at Portland was 12884 and the ticket price was $22.19
  The attendance at Sacramento was 17014 and the ticket price was $16.96
  The attendance at San_Antonio was 14722 and the ticket price was $16.79
  The attendance at Seattle was 12244 and the ticket price was $18.11
  The attendance at Utah was 12616 and the ticket price was $18.41
  The attendance at Washington was 11565 and the ticket price was $14.55

Sorted list by seating
  The attendance at Minnesota was 26160 and the ticket price was $10.92
  The attendance at Charlotte was 23901 and the ticket price was $17
  The attendance at Detroit was 21454 and the ticket price was $24.42
  The attendance at Chicago was 18404 and the ticket price was $21.98
  The attendance at New_York was 17815 and the ticket price was $22.7
  The attendance at LA_Lakers was 17378 and the ticket price was $29.18
  The attendance at Sacramento was 17014 and the ticket price was $16.96
  The attendance at Cleveland was 16969 and the ticket price was $19.63
  The attendance at Dallas was 16868 and the ticket price was $17.05
  The attendance at Milwaukee was 16088 and the ticket price was $14.08
  The attendance at Houston was 15846 and the ticket price was $17.56
  The attendance at Orlando was 15606 and the ticket price was $20.47
  The attendance at Golden_State was 15025 and the ticket price was $17.04
  The attendance at Miami was 15008 and the ticket price was $17.6
  The attendance at Boston was 14916 and the ticket price was $22.54
  The attendance at San_Antonio was 14722 and the ticket price was $16.79
  The attendance at Phoenix was 14114 and the ticket price was $16.59
  The attendance at Philadelphia was 14017 and the ticket price was $19.04
  The attendance at Atlanta was 13993 and the ticket price was $20.06
  The attendance at Indiana was 12885 and the ticket price was $13.77
  The attendance at Portland was 12884 and the ticket price was $22.19
  The attendance at Denver was 12668 and the ticket price was $17.4
  The attendance at Utah was 12616 and the ticket price was $18.41
  The attendance at Seattle was 12244 and the ticket price was $18.11
  The attendance at New_Jersey was 12160 and the ticket price was $13.31
  The attendance at LA_Clippers was 11869 and the ticket price was $21.95
  The attendance at Washington was 11565 and the ticket price was $14.55

In [3]:
# 3.4 Sorting Lists

x= [(1,7),(1,3),(3,4),(2,2)]
sorted_x = sorted(x,key=lambda item:item[1],reverse=False)
sorted_x

[(2, 2), (1, 3), (3, 4), (1, 7)]