Week 5 Stacking and Unstacking Data

    Name: Sathish Kumar Rajendiran
    Task: 5.3 Stacking and Unstacking Data
    Date: 7/29/2020

In [10]:
#import libraries
import os
import csv
import numpy as np
import pandas as pd

#verify current directory
os.getcwd()

'/Users/sathishrajendiran/ist652-python'

In [14]:
# define dictionary with Person, Age, Weight info

persondict = {'Person':['Bob','Alice','Steve'],'Age':['32','24','64'],'Weight':['128','86','95']}

type(persondict) #dict

#create a dataframe from persondict dictionary
persondf = pd.DataFrame(persondict, columns=['Person','Age','Weight'])
# persondf.head()

persondf

  Person Age Weight
0    Bob  32    128
1  Alice  24     86
2  Steve  64     95

In [19]:
persondf.shape  #(3, 3)
persondf.dtypes

Person    object
Age       object
Weight    object
dtype: object

In [20]:
#set Person as the index column
persondf = persondf.set_index('Person')
persondf.head()

       Age Weight
Person
Bob     32    128
Alice   24     86
Steve   64     95

In [36]:
#stack the dataframe - converting columns to rows
resultdf = persondf.stack()
resultdf.shape
resultdf.index
resultdf

Person
Bob     Age        32
        Weight    128
Alice   Age        24
        Weight     86
Steve   Age        64
        Weight     95
dtype: object

In [34]:
#create a tall table
PersonTall = resultdf.reset_index()
PersonTall
#update the column names
PersonTall.columns = ['Person','Attribute','Value']
PersonTall

  Person Attribute Value
0    Bob       Age    32
1    Bob    Weight   128
2  Alice       Age    24
3  Alice    Weight    86
4  Steve       Age    64
5  Steve    Weight    95

In [35]:
#reset to original structure by simply unstacking the resultdf
resultdf1 = resultdf.unstack()
resultdf1

       Age Weight
Person
Bob     32    128
Alice   24     86
Steve   64     95